@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

@layer utilities {
  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }
}

* {
    font-family: "Inter", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 1440px;
  width: 100vw;
  height: 100vh;
}

nav a {
    color: #1a1a1a;
    font-weight: 500;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: transparent;
}

.react-colorful {
  border-radius: 0px;
  width: 100% !important;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.react-colorful__saturation, .react-colorful__interactive {
  border-radius: 0px !important;
}

