@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  overflow: hidden;
  padding: 8px 0px;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
}
