@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  overflow: hidden;
  padding: 8px 0px;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -4px; /* можно подогнать */
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #60a5fa, transparent);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link.active::after {
  transform: scaleX(1);
  transform-origin: left;
}
